<div class="container" id="bckgrnd-color">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <h1>Create your own team</h1>
    <br>
    <%= simple_form_for (@team) do |f| %>
      <%= f.input :title,  placeholder: 'Paris en Noir et Blanc...' %>
      <%= f.input :description %>
      <%= f.input :total_members, collection: 2..10 %>
      <%= f.input :theme %>
      <%= f.input :art_types %>
      <%= f.input :location %>
      <%= f.input :budget %>
      <%= f.input :photo, as: :attachinary %>
      <div class="center btndash" id="diff-size">
        <div class="button__outline"></div>
        <div class="button__background"></div>
        <%= f.button :submit, class: "button__text" %>
      </div>
      <br>
     <% end %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyDPP-NYzVfGiWV2Gj2_mPFLxONBE1iekvY"></script>
<% end %>
