<div class="tasks-big-content" id="task-<%= task.id %>">
  <div class="task-content">
      <h4 class="h4tasks"><%= index + 1 %>.
      <%= task.name %></h4>
      <h5 class="task-description"><%= task.description %></h5>
      <% if task.member.user.avatar_local? %>
          <%= image_tag task.member.user.avatar_local, class: "avatar-super-large" %>
      <% else %>
          <% image_tag "avatar-default_360.jpg" %>
      <% end %>
  </div>
  <div >
  <% if policy(@task).create? %>
    <% if task.status? %>
      <i class="fa fa-check"></i>
    <% else %>
      <%= link_to "Done", done_task_path(task), class: "tasks-features", remote: true %>
    <% end %>
    <%= link_to "Modify", edit_task_path(task), class: "tasks-features", remote: true  %>
    <%= link_to "Delete", task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" }, class: "tasks-features" %>
    <% end %>
  </div>
</div><!--  tasks-big-content -->
