<div class="artistlist">
  <div class="main" id="main-artist">
    <div class="container" id="searchteam">
      <div class="row">
        <div class="teamsearch">
          <div class="col-md-4 text-center"><h3>search 1</h3></div>
          <div class="col-md-4 text-center"><h3>search 2</h3></div>
          <div class="col-md-4 text-center"><h3>search submit</h3></div>
        </div>
      </div>
    </div>
  <div class="container text-center">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <% @users.each do |user| %>
          <div class="userchoice">
            <div class='user-details'>
              <% avatar_url = "http://placehold.it/201x200"%>
              <%= image_tag avatar_url, class: "avatar"%>
            </div>
            <div class='user-name'><%= user.first_name %><%= user.last_name %></div> <!-- connect to profile -->
            <div class='user-body'>
              <p><%= user.city%><p>
              <p>Past collaborations - <strong>56</strong></p>
            </div>
            <div class='user-body'>
              <p>Followers - <strong>345</strong></p>
              <p>Following - <strong>123</strong></p>
            </div>
          </div>
          <%= link_to "", user_path(user), class: "card-link" %>
        <% end %>
        </div>
      </div>
  </div>
  </div>
</div>

