<% content_for :meta_title, "#{@user.first_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.description %>
<% content_for :meta_image, cloudinary_url(@photo_path) %>


<!--___________ PROFILE___________ -->
<div class="movie-card">
  <div class="container" id="container-user">


 <div class="cover avatar-square">
     <% if @user.avatar? %>
        <%= cl_image_tag(@user.avatar.path, { size: '201x200'})%>
     <% else %>
        <% avatar_url = "https://res.cloudinary.com/dmnigpnke/image/upload/v1496829995/avatar-default_360_qyxmo6.jpg" || current_user.facebook_picture_url  %>
        <%= image_tag avatar_url%>
     <% end %>
 </div>

    <div id="banner">
  <!--___________ CAROUSEL___________ -->
      <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example" data-slide-to="1"></li>
          <li data-target="#carousel-example" data-slide-to="2"></li>
          <li data-target="#carousel-example" data-slide-to="3"></li>
          <li data-target="#carousel-example" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <div class="gradient"></div>
            <%= cl_image_tag @first_photo_path,crop: :fill, width: 1600,  height: 600 %>
          </div>

          <% @user.photos.each do |photo| %>
            <% if @first_photo_path != photo.path %>
              <div class="item">
                <div class="gradient"></div>
                <%= cl_image_tag photo.path,crop: :fill, width: 1600,  height: 600 %>
              </div>
            <% end %>
          <% end %>
        </div>
        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
  <!--_________  END  CAROUSEL____________-->
    </div> <!-- end banner -->
      <div class="details">
        <div class="title1">
        <p id="user-profile-name"><%= @user.first_name %> <%= @user.last_name %></p>
          <span><%= @user.city%></span>
        </div>
        <div class="title2"><%= @user.email %></div>
      </div> <!-- end details -->
    <div id="edit">
      <%= link_to "Edit profile", edit_user_path(@user) %>
    </div>

    <div class="content-userprofile">

      <div class="column1">
        <span class="tag"><%= @user.art_types %></span>
        <span class="tag">fantasy</span>
        <span class="tag">couleurs</span>
      </div> <!-- end column1 -->

      <div class="column2" >
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 id="fonts2"> Biography </h1>
            <p id="fonts"><%= @user.description %></p>
          </div>
        </div>
        <div class="row">
          <h1 class="text-center" id="fonts3">My Upcoming exhibitions</h1>
          <div class="col-md-12">
            <%= image_tag ("forprofil2.png") %>
          </div>
        </div>
      </div>

    </div> <!-- end content-userprofile -->


  </div> <!-- end container -->
</div> <!-- end movie-card -->

