
<!--___________ PROFILE___________ -->
<div class="movie-card">
  <div class="container" id="container-user">

    <% avatar_url = "http://placehold.it/201x200"%>
    <%= image_tag avatar_url, class: "cover avatar-square"%>

    <div id="banner">
  <!--___________ CAROUSEL___________ -->
      <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example" data-slide-to="1"></li>
          <li data-target="#carousel-example" data-slide-to="2"></li>
          <li data-target="#carousel-example" data-slide-to="3"></li>
          <li data-target="#carousel-example" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <div class="gradient"></div>
            <%= cl_image_tag @first_photo_path,crop: :fill, width: 1600,  height: 600 %>
          </div>

          <% @user.photos.each do |photo| %>
            <% if @first_photo_path != photo.path %>
              <div class="item">
                <div class="gradient"></div>
                <%= cl_image_tag photo.path,crop: :fill, width: 1600,  height: 600 %>
              </div>
            <% end %>
          <% end %>
        </div>

        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
  <!--_________  END  CAROUSEL____________-->
    </div> <!-- end banner -->
      <div class="details">
        <div class="title1">
        <p id="user-profile-name"><%= @user.first_name %> <%= @user.last_name %></p>
          <span><%= @user.city%></span>
        </div>
        <div class="title2"><%= @user.email %></div>
      </div> <!-- end details -->
    <div id="edit">
      <%= link_to "Edit profile", edit_user_path(@user) %>
    </div>

    <div class="content-userprofile">

      <div class="column1">
        <span class="tag"><%= @user.art_types %></span>
        <span class="tag">fantasy</span>
        <span class="tag">couleurs</span>
      </div> <!-- end column1 -->

      <div class="column2" >
        <p id="fonts"><%= @user.description %></p>
        <h1 class="text-center">My Upcoming exhibitions</h1>
      <div class="container text-center">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
            <% @teams.each do |team| %>
              <div class="teamchoice">
                <div class="team-details">
                    <% if team.photo? %>
                  <div class="team-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path team.photo.path, height: 300, width: 400, crop: :fill %>')"></div>
                  <% else %>
                  <div class="team-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('noimage.jpg') %>')"></div>
                  <% end %>
                </div>
                <div class="team-name"><%= team.title %></div> <!-- connect to profile -->
                <div class="team-body">
                  <p>Theme: <%= team.theme %><p>
                  <p>Types of art: <%= team.art_types %></p>
                </div>
                <div class="team-body">
                  <p>Members - <strong><%= team.total_members  %></strong></p>
                  <p>Budget - <strong><%=team.budget %></strong>$</p>
                </div>
              <%= link_to "", team_path(team), class: "card-link" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>

<!--         <div class="avatars">
          <a href="#" data-tooltip="Person 1" data-placement="top">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_avatar1.png" alt="avatar1" />
          </a>
          <a href="#" data-tooltip="Person 2" data-placement="top">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_avatar2.png" alt="avatar2" />
          </a>
          <a href="#" data-tooltip="Person 3" data-placement="top">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/hobbit_avatar3.png" alt="avatar3" />
          </a>
        </div>  -->
        <!-- end avatars -->



      </div> <!-- end column2 -->
    </div> <!-- end content-userprofile -->


  </div> <!-- end container -->
</div> <!-- end movie-card -->





