<div>
<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logoo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <ul class="nav nav-pills pull-left">
              <li>
                <%= link_to "#", class: 'become_curator' do %>
                  <%= t(".profile", default: "Artists") %>
                <% end %>
              </li>
              <li>
                <%= link_to "#", class: 'become_curator' do %>
                  <%= t(".profile", default: "Find a team") %>
                <% end %>
              </li>
              <li>
                <%= link_to "#", class: 'become_curator' do %>
                  <%= t(".profile", default: "How it works") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: 'become_curator' do %>
                  <%= t(".sign_out", default: "Log Out") %>
                <% end %>
              </li>
              <li>
                <%= link_to "#", class: 'become_curator' do %>
                  <%= t(".profile", default: "How it works") %>
                <% end %>
              </li>
            </ul>
            <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar-large", id: "navbar-wagon-menu" %>
        </div>
      </div>

    <% else %>
      <div class="navbar-wagon-item">
            <ul class="nav nav-pills pull-left">
              <li>
                <%= link_to "#", class: 'become_curator' do %>
                  <%= t(".profile", default: "Artists") %>
                <% end %>
              </li>
              <li>
                <%= link_to "#", class: 'become_curator' do %>
                  <%= t(".profile", default: "Find a team") %>
                <% end %>
              </li>
              <li>
                  <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: 'become_curator' %>
              </li>
            </ul>
          </div>
        </div>

    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">link 1</a></li>
        <li><a href="#">link 2</a></li>
        <li><a href="#">link 3</a></li>
      </ul>
    </div>
  </div>
</div>

