<div class="home-content">
  <div class="video-container">
    <div>
      <%= image_tag ("LOGOB.png"), class: "c-image" %>
    </div>
    <div class="video-container-content">
      <h1>Let's Curate</h1>
      <p>Put your art on the world's canvas!</p>
      <p><%= link_to "My Dashboards", dashboards_path %></p>
    </div>
  </div>
  <div id="info">
    <div class="container-fluid" id="special-background">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag ("homepage1.png"), class: "img-responsive" %>
          </div>
        </div>
    </div>
    <div class="container-fluid" id="special-background">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag ("homepage2.png"), class: "img-responsive" %>
          </div>
        </div>
    </div>
    <div class="container-fluid" id="special-background">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag ("homepage3.png"), class: "img-responsive" %>
          </div>
        </div>
    </div>
</div>
