<div class="home-content">
  <div class="video-container">
    <div class="video-container-flex">
      <%= image_tag ("LOGOB.png"), class: "c-image" %>
      <div class="video-container-content">
        <h1 class="avenir-typo">Let's Curate</h1>
        <p class="avenir-typo">Collaborate together & exhibit together</p>
        <% if user_signed_in? %>
          <%= link_to "Manage my exhibits", dashboards_path, class: "button-home" %>
        <% else %>
          <p><%= link_to "Find an exhibit", teams_path %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div id="info">
    <%= image_tag ("homepage1.png")%>
    <%= image_tag ("homepage2.png")%>
    <%= image_tag ("homepage3.png")%>
  </div>
</div>
