<div class="home-content">
  <div class="video-container">
    <div class="video-container-content">
      <h1 class="avenir-typo">Let's Curate</h1>
    </div>
    <div class="thebuttonbox">
    <% if user_signed_in? %>
         <%= link_to "Manage my exhibition", dashboards_path, class: "theredbutton"  %>
    <% else %>
        <p><%= link_to "Find an exhibition", teams_path, class: "theredbutton" %></p>
    <% end %>
    </div>
  </div>
  <div id="info">
    <div class="container-fluid" id="special-background">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag ("homepage1.png"), class: "img-responsive" %>
          </div>
        </div>
    </div>
    <div class="container-fluid" id="special-background">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag ("homepage2.png"), class: "img-responsive" %>
          </div>
        </div>
    </div>
    <div class="container-fluid" id="special-background">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag ("homepage3.png"), class: "img-responsive" %>
          </div>
        </div>
    </div>
</div>
